* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/frutiger-aero.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding: 15px;
    text-align: center;
    background: -webkit-linear-gradient(#eee, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    padding: 0px 25px 25px 25px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
}

.exercicio {
    width: 350px;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    border: 2px rgba(0, 0, 255, 0.5) dashed;
    border-radius: 10%;
    opacity: 0.75;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), #00ffff);
}

.comando {
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(#eee, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.d1, .d2, .d3 {
    width: 50px;
    height: 50px;
    border: 1px #000000 solid;
    border-radius: 10%;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.75), #71ab23);
}

.ex2 {
    display: flex;
    flex-flow: column-reverse wrap;
}

.ex3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.ex3 > * {
    width: 100%;
}

.ex4 > * {
    margin: 25px;
}

.ex5 {
    padding: 25px;
}

.ex6 {
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.ex7 {
    display: flex;
    justify-content: end;
}

.ex8 {
    display: flex;
    flex-flow: column nowrap;
}

.ex8 .d2 { order: 1 }
.ex8 .d3 { order: 2 }
.ex8 .d1 { order: 3 }

.ex9 {
    display: flex;
}

.ex9 .d1 { flex-grow: 3 }
.ex9 .d2 { flex-grow: 2 }
.ex9 .d3 { flex-grow: 1 }

.ex10 {
    width: 100px;
    display: flex;
    border: 5px solid rgba(138, 43, 226, 0.25);
}

.ex10 > * {
    flex-shrink: 1;
}

.ex11 {
    width: 100px;
    display: flex;
    border: 5px solid rgba(138, 43, 226, 0.25);
}

.ex11 > * {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}

.ex12 {
    width: 50vw;
    display: flex;
    flex-flow: row wrap;
}

.ex12 > * {
    flex: 1;
}

.ex13 {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
}

.ex13 > * {
    flex: 1;
}

.exercicio:has(.ex12),
.exercicio:has(.ex13) {
    width: 100vw;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}

.ex14 {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}
